<div id="project_config_email_notifier" class="well">
  <fieldset>
    <legend>Email Notifier</legend>

    <label for="on-change">
      <input id="on-change" type="radio" ng-model="config.notify" value="on-change">
      <span>Notify on state change</span>
    </label>
    <label for="always">
      <input id="always" type="radio" ng-model="config.notify" value="always">
      <span>Notify on every build</span>
    </label>
    <label for="noisy-fail">
      <input id="noisy-fail" type="radio" ng-model="config.notify" value="noisy-fail">
      <span>Notify on all failures and first success after failure</span>
    </label>
  </fieldset>
</div>
